<aside class="tweets">
  {{#each tweets as | tweet | }}
    {{#ifLess @index ../limit }}
    {{!log "tweet" tweet}}
    <figure>    
      <a href="https://twitter.com/EthelBarge/status/{{tweet.id}}"> <!-- This link is to twitter -->
      <!--<a href="/story/{{tweet.id}}">--><!-- This link is to our story page -->
        {{#if tweet.media }}
          {{#each tweet.media as | media | }}
            {{!log media}}
            {{#if @first }}
              <img src="{{ media.url }}" alt="{{ media.alt_text }}" >
            {{/if}}
          {{/each}} 
        {{/if}}
      </a>
      
      <figcaption>
        <!--<a href="https://twitter.com/EthelBarge/status/{{tweet.id}}">--> <!-- This link is to twitter -->
      <a href="/story/{{tweet.id}}"><!-- This link is to our story page -->        {{{tweet.text}}}
        </a>
      </figcaption>
    </figure>
  {{/ifLess}}
  {{/each}} 
</aside>
