<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{!{block "title"}} : Ethel Demo</title>
    <meta name="description" content="Ethel Demo site based on glitch, express, and data from a Prismic HeadlessCMS." />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="/style.css" title="default" />
    <link rel="alternate stylesheet" href="/highcontrast.css" title="highcontrast" />
    
    {{!{block "stylesheets"}}

  </head>
  <body class="center">
    <header>
      <h1>Ethel Demo : </h1>
   <!--   <form method="get" action="/search" id="searchbox"> -->
    <div id="searchbox">
      <input type="text" name="search" id="search" value="">
      <label for="search">Search</label>
    </div>
<!--
 <input type="submit" name="submit" value="Search" /> </form>-->
      <div id="searchresults"></div>
      <div id="hamnav"><a href="#">&#9776;</a></div>
    </header>

    <svg
       viewbox="0 0 210 15"
       version="1.1"
       id="wavyline"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:svg="http://www.w3.org/2000/svg">

       <path
          style="fill:var(--primary);fill-opacity:1;stroke:none;"
          d="M 210,0 0,0 0,15 C 80,15 80,5 105,5 c 50,7 50,0 105,0"
          id="path42" />

    </svg>

        <!-- (C) MENU ITEMS -->
        <nav id="hamitems">
          <a href="/">Home</a>
          <a href="/booking">Booking</a>
          <a href="/activities">Activities</a>
          <a href="https://utc-olp-pets.prismic.io/" target="_blank">Admin</a>
        {{#each lessons as |lesson|}}
          <a href="/lesson/{{lesson}}">Lesson {{lesson}}</a>
        {{/each}}
          
        
        {{#if @user}} {{! Links that appear when logged in}}
          {{#if @user.roles.member}} {{! Members only links}}
            <a href="/members">Members</a>
          {{/if}}
          {{#if @user.roles.boardmember}} {{! Board Members only}}
            <a href="/members/board">Board</a>
          <a href="/members/minutes">Minutes</a>
          {{/if}}
          <a href="/logout">Logout</a>
        {{else}} {{! Links that appear when not logged in}}
          <a href="{{@apiserver}}/connect/microsoft?callback={{@logincallback}}">
            Login
          </a>
        {{/if}}
      </nav>

    <main>
      {{{ body }}}
    </main>

    <footer>
      <p>
        {{!> utcfooter}} {{! Footer code to be deleted and replaced with your own}}
      </p>
      <p class="accessibility_control">
        Accessibility Features
        <button onclick="setActiveStyleSheet('highcontrast');">High Contrast</button>
        <button onclick="setActiveStyleSheet('default');">Default</button>
      </p>
    </footer>
    <script src="/main.js" type="module"></script>
    <script src="/styleswitcher.js" type="text/javascript"></script>
    {{!{block "scripts"}}
  </body>
</html>
